<a href="https://colab.research.google.com/github/jeongaaaa/multicampus_25th/blob/master/4_pandas_copy_row%2Ccolumn%EC%88%98%EC%A0%95_%ED%86%B5%EA%B3%84%EA%B0%92%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

사용예제파일: korean-idol.csv

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

#1. copy( )
- dataframe을 복사할 때 사용
- 원본 데이터를 유지하고 새로운 변수에 복사하고 싶을때 copy( ) 사용

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

cf) df를 새로운 변수(new_df)에 대입하고, 새로운 변수에서 값을 바꾸면 원래의 dataframe(df)의 값은 어떻게 될까?

-> 복사한 데이터를 변형시키면 원본 데이터도 손상됨! (df를 새로운 변수에 대입하는 것이 아니라 copy함수를 사용해서 복사해야 하는 이유)

In [ ]:
new_df = df

#이 경우, 데이터가 복사되는 것이 아니라 데이터의 주소가 복사됨!

In [ ]:
new_df = df

In [ ]:
new_df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
new_df['이름']=0

In [ ]:
df.head()

   이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0   0  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1   0     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2   0    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3   0  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4   0    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
df.head()

   이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0   0  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1   0     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2   0    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3   0  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4   0    마마무  RBW  여자  1995-07-23  162.1   A   7650928

이렇게 되는 이유는 같은 메모리 주소를 참조하기 때문!

In [ ]:
#메모리 주소값을 확인
id(df)

140149077311200

In [ ]:
#일반적으로 컴퓨터의 메모리 주소값은 16진수로 표현
hex(id(new_df))

'0x7f76fff7fee0'

In [ ]:
# 아래 코드를 통해 같은 메모리 주소값을 참조하는 것을 확인
hex(id(df))

'0x7f76fff7fee0'

즉, **원본 데이터를 유지**하고 새로운 변수에 복사하기 위해서는 **copy()**를 사용해야함!!★

In [ ]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [ ]:
# python에서 얕은 복사(주소값만 복사), 깊은 복사(deep copy)
copy_df = df.copy()

In [ ]:
hex(id(df))

'0x7f76ff196d00'

In [ ]:
hex(id(copy_df))

'0x7f76fff7f8b0'

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
copy_df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
copy_df['이름'] = 0

In [ ]:
copy_df.head()

   이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0   0  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1   0     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2   0    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3   0  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4   0    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
df.head()

#copy() 사용해서 복사 -> 원본 데이터 손상 x

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

#2. DataFrame에 row, column 추가 및 삭제

##2-1. row 추가
: **dictionary** 형태의 data를 만들어 준 다음 **append()**함수를 사용하여 데이터 추가. 반드시, **ignore_index=True**옵션을 추가해줘야 에러 안남

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
# df라는 데이터프레임에 한 행(row)을 추가(append)
df.append({'이름': '민영', '그룹': '브레이브 걸스', '소속사': '브레이브 엔터', '성별': '여자', '생년월일': '1990-09-12', '키': 165.0, '혈액형': 'AB', '브랜드평판지수': 12345678}, ignore_index=True)

<ipython-input-29-362faa0d68b1>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append({'이름': '민영', '그룹': '브레이브 걸스', '소속사': '브레이브 엔터', '성별': '여자', '생년월일': '1990-09-12', '키': 165.0, '혈액형': 'AB', '브랜드평판지수': 12345678}, ignore_index=True)

      이름       그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민    방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤       빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘      NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔    방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사      마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국    방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현     뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연      아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진    방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운       핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연     소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우     아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호     뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR     뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가    방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
15    민영  브레이브 걸스  브레이브 엔터  여자  1990-09-12  165.0  AB  12345678

In [ ]:
df.tail()

     이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
10   태연   소녀시대    SM  여자  1989-03-09    NaN   A  3918661
11  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B  3506027
12   백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB  3301654
13   JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O  3274137
14   슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O  2925442

**append()한 뒤 다시 df에 변경된 데이터를 대입해줘야 변경 값이 유지됨**

In [ ]:
df = df.append({'이름': '테디', '그룹': '테디그룹', '소속사': '끝내주는소속사', '성별': '남자', '생년월일': '1970-01-01', '키': 195.0, '혈액형': 'O', '브랜드평판지수': 12345678}, ignore_index=True)

<ipython-input-31-3b24ec9ed5b8>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'이름': '테디', '그룹': '테디그룹', '소속사': '끝내주는소속사', '성별': '남자', '생년월일': '1970-01-01', '키': 195.0, '혈액형': 'O', '브랜드평판지수': 12345678}, ignore_index=True)

In [ ]:
hex(id(df))

'0x7f76ff3a04c0'

In [ ]:
df.tail()

     이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
11  차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12   백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13   JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14   슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
15   테디   테디그룹  끝내주는소속사  남자  1970-01-01  195.0   O  12345678

##2-2. column cnrk
: 단순히 새로운 column을 만들고 값을 대입해주면, 자동으로 생성됨

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
# df dataframe에 '국적'이라는 이름으로 column추가
df['국적'] = '대한민국'

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수    국적
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260  대한민국
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947  대한민국
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745  대한민국
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501  대한민국
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928  대한민국

**loc함수**를 이용해서 추가된 column의 값 변경해줄 수 있음

In [ ]:
df.loc[ df['이름'] == '지드래곤' , '국적'] = 'korea'

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수     국적
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260   대한민국
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947  korea
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745   대한민국
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501   대한민국
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928   대한민국

#3. 통계값 다루기
: 통계값은 data type이 float나 int형인 column을 다룸

In [ ]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [ ]:
df.describe()

                키       브랜드평판지수
count   13.000000  1.500000e+01
mean   175.792308  5.655856e+06
std      5.820576  2.539068e+06
min    162.100000  2.925442e+06
25%    174.000000  3.712344e+06
50%    177.000000  4.668615e+06
75%    179.200000  7.862214e+06
max    183.000000  1.052326e+07

##3-2. min(최소값), max(최대값)

In [ ]:
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [ ]:
df['키'].min()

162.1

In [ ]:
df['키'].max()

183.0

##3-2. sum(합계), mean(평균)

In [ ]:
df['키'].sum()

2285.3

In [ ]:
df['키'].mean()

175.7923076923077

##3-3. var, variance(분산) / std, standard deviation(표준편차)

* 분산과 표준편차는 데이터가 **평균으로부터 얼마나 떨어져 있는지 정도**를 나타냄
* 분산은 **(데이터 - 평균) ** 2 을 모두 합한 값** / n
* 표준편차는 **분산의 루트**

In [ ]:
import numpy as np

In [ ]:
data_01 = np.array([1, 3, 5, 7, 9])
data_02 = np.array([3, 4, 5, 6, 7])

In [ ]:
# data_01 분산을 구한식
np.sqrt(((1-5)**2 + (3-5)**2 + (5-5)**2 + (7-5)**2 + (9-5)**2 ) / 5)

2.8284271247461903

In [ ]:
data_01.mean()

5.0

In [ ]:
data_02.mean()

5.0

In [ ]:
# data_01의 분산, data_02의 분산
data_01.var(), data_02.var()

(8.0, 2.0)

In [ ]:
np.sqrt(data_01.var()), np.sqrt(data_02.var())

#np.sqrt() -> 제곱근 출력

(2.8284271247461903, 1.4142135623730951)

In [ ]:
# data_01의 표준편차, data_02의 표준편차
data_01.std(), data_02.std()

(2.8284271247461903, 1.4142135623730951)

주로 표준편차 (std)를 많이 사용하며, **데이터가 평균으로부터 얼마나 퍼져있는지 정도**를 나타내는 지표라고 이해하면 됨

In [ ]:
df['키'].var()

33.87910256410259

In [ ]:
df['키'].std()

5.820575793175671

##3-4. count() -> 개수

In [ ]:
df['키'].count()

13

##3-5. 중앙값(median value)

In [ ]:
df['키']

#값을 낮은 값에서 높은 값으로 sort()하고, 
# 그중에 가운데 위치한 값을 중앙값이라고 한다.

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [ ]:
df['키'].median()

177.0

##3-6. 최빈값(mode)
- 가장 많이 관측되는 수
- 주어진 데이터에서 가장 개수가 많은 값

In [ ]:
df['키'].mode()

0    178.0
Name: 키, dtype: float64