<a href="https://colab.research.google.com/github/jeongaaaa/multicampus_25th/blob/master/8_pandas_preproc_Series_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

실습파일: korean-idol.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [4]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

#1. Series의 Type

##1-1. type 확인하기

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

이전에 배운 info를 찍어보면, 우측에 type이 같이 찍히는 것을 확인할 수 있음

- object: 일반 문자열 타입

- float: 실수

- int: 정수

- category: 카테고리

- datetime: 시간

  - datetime: '년, 월, 일, 시, 분, 초까지 들어있는 정보'

##1-2. type 변환하기
- astype method 사용

float으로 명시되어 있는 키 column을 정수형인 int type으로 변경해보기

In [6]:
#dtype()으로 type확인

df['키'].dtypes

dtype('float64')

In [7]:
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [10]:
#NaN값이 있으면 에러가 발생하므로 fillna로 임의의 값 채워주기

df['키'].fillna(df['키'].mean(), inplace=True)

In [11]:
df['키']

0     173.600000
1     177.000000
2     180.000000
3     178.000000
4     162.100000
5     178.000000
6     182.300000
7     175.792308
8     179.200000
9     167.100000
10    175.792308
11    183.000000
12    175.000000
13    176.000000
14    174.000000
Name: 키, dtype: float64

In [12]:
#'키'컬럼이 float64인걸 확인했는데, 이것을 int type으로 변경하고 싶을 때 사용
#astype() 함수는 데이터 타입을 변경
#소수점 미만 절삭

df['키'].astype(int)

0     173
1     177
2     180
3     178
4     162
5     178
6     182
7     175
8     179
9     167
10    175
11    183
12    175
13    176
14    174
Name: 키, dtype: int64

In [13]:
df['키'].astype(object)

0          173.6
1          177.0
2          180.0
3          178.0
4          162.1
5          178.0
6          182.3
7     175.792308
8          179.2
9          167.1
10    175.792308
11         183.0
12         175.0
13         176.0
14         174.0
Name: 키, dtype: object

In [14]:
df['키'].astype(float)

0     173.600000
1     177.000000
2     180.000000
3     178.000000
4     162.100000
5     178.000000
6     182.300000
7     175.792308
8     179.200000
9     167.100000
10    175.792308
11    183.000000
12    175.000000
13    176.000000
14    174.000000
Name: 키, dtype: float64

##1-3. 날짜 변환하기 (datetime 타입)
**to_datetime method**

현재 날짜 column은 dtype:이 object, 즉 문자열 타입으로 되어 있음

In [15]:
df['생년월일']

0     1995-10-13
1     1988-08-18
2     1996-12-10
3     1995-12-30
4     1995-07-23
5     1997-09-01
6     1995-08-09
7     1998-08-26
8     1992-12-04
9     1994-03-22
10    1989-03-09
11    1997-03-30
12    1995-07-21
13    1995-06-08
14    1993-03-09
Name: 생년월일, dtype: object

In [16]:
#datetime type으로 바꿔주기

pd.to_datetime(df['생년월일'])

#논항에 datetime type으로 변경할 컬럼을 넣어줌

0    1995-10-13
1    1988-08-18
2    1996-12-10
3    1995-12-30
4    1995-07-23
5    1997-09-01
6    1995-08-09
7    1998-08-26
8    1992-12-04
9    1994-03-22
10   1989-03-09
11   1997-03-30
12   1995-07-21
13   1995-06-08
14   1993-03-09
Name: 생년월일, dtype: datetime64[ns]

변환된 것을 df['날짜'] column에 **다시 대입 해줘야 정상적으로 dataframe에 변환된 값이 저장됨**

In [17]:
df['생년월일'] = pd.to_datetime(df['생년월일'])
df['생년월일']

0    1995-10-13
1    1988-08-18
2    1996-12-10
3    1995-12-30
4    1995-07-23
5    1997-09-01
6    1995-08-09
7    1998-08-26
8    1992-12-04
9    1994-03-22
10   1989-03-09
11   1997-03-30
12   1995-07-21
13   1995-06-08
14   1993-03-09
Name: 생년월일, dtype: datetime64[ns]

###python에서 일반적으로 문자열로 날짜를 표기할 때

'1997-07-21', '1997.07.21'

→ 한 자료 안에 두가지가 섞여 있으면 **datetimetype으로 변경해서 둘 중 하나로 통일**해주는 것이 좋음

**datetime 타입으로 변환하는 이유**

- 매우 손쉽게, 월, 일, 요일 등등의 날짜 정보를 세부적으로 추출해낼 수 있음
- datetime의 약어인 'dt'는 다양한 정보를 제공해줌
  - df['생년월일']의 데이터타입이 datetime인 경우에 가능
  - 월요일 : 0, 일요일 : 6
  - 날짜의 요일을 확인 -> 0~6사이의 숫자\로 표시

In [18]:
df.head()

     이름     그룹  소속사  성별       생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자 1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자 1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자 1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자 1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자 1995-07-23  162.1   A   7650928

In [19]:
df['생년월일'].dt.dayofweek

0     4
1     3
2     1
3     5
4     6
5     0
6     2
7     2
8     4
9     1
10    3
11    6
12    4
13    3
14    1
Name: 생년월일, dtype: int64

**월요일: 0 화요일: 1, 수요일: 2, 목요일: 3, 금요일: 4, 토요일: 5, 일요일: 6**

In [20]:
#년도 정보만 가져오기

df['생년월일'].dt.year

0     1995
1     1988
2     1996
3     1995
4     1995
5     1997
6     1995
7     1998
8     1992
9     1994
10    1989
11    1997
12    1995
13    1995
14    1993
Name: 생년월일, dtype: int64

In [21]:
#월 정보만 가져오기

df['생년월일'].dt.month

0     10
1      8
2     12
3     12
4      7
5      9
6      8
7      8
8     12
9      3
10     3
11     3
12     7
13     6
14     3
Name: 생년월일, dtype: int64

In [22]:
df['생년월일'].dt.day

0     13
1     18
2     10
3     30
4     23
5      1
6      9
7     26
8      4
9     22
10     9
11    30
12    21
13     8
14     9
Name: 생년월일, dtype: int64

In [23]:
df['생년월일'].dt.hour

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 생년월일, dtype: int64

In [24]:
df['생년월일'].dt.minute

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 생년월일, dtype: int64

In [25]:
df['생년월일'].dt.second

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 생년월일, dtype: int64

In [26]:
df['생년월일'].dt.dayofweek

0     4
1     3
2     1
3     5
4     6
5     0
6     2
7     2
8     4
9     1
10    3
11    6
12    4
13    3
14    1
Name: 생년월일, dtype: int64

In [27]:
df['생년월일'].dt.weekofyear

<ipython-input-27-8e6b29d18fe4>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['생년월일'].dt.weekofyear

0     41
1     33
2     50
3     52
4     29
5     36
6     32
7     35
8     49
9     12
10    10
11    13
12    29
13    23
14    10
Name: 생년월일, dtype: int64

In [28]:
df.head()

     이름     그룹  소속사  성별       생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자 1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자 1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자 1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자 1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자 1995-07-23  162.1   A   7650928

In [29]:
df['생일_년'] = df['생년월일'].dt.year
df['생일_월'] = df['생년월일'].dt.month
df['생일_일'] = df['생년월일'].dt.day

In [30]:
df.head()

     이름     그룹  소속사  성별       생년월일      키 혈액형   브랜드평판지수  생일_년  생일_월  생일_일
0    지민  방탄소년단  빅히트  남자 1995-10-13  173.6   A  10523260  1995    10    13
1  지드래곤     빅뱅   YG  남자 1988-08-18  177.0   A   9916947  1988     8    18
2  강다니엘    NaN  커넥트  남자 1996-12-10  180.0   A   8273745  1996    12    10
3     뷔  방탄소년단  빅히트  남자 1995-12-30  178.0  AB   8073501  1995    12    30
4    화사    마마무  RBW  여자 1995-07-23  162.1   A   7650928  1995     7    23